<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>639017357545-gd64mf65suirbf4o72r3dialqn0v6d1e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.639017357545-gd64mf65suirbf4o72r3dialqn0v6d1e</string>
	<key>API_KEY</key>
	<string>AIzaSyBhZuSqXjX_Q33GIX6fKXmaJZ9MR1T4q-k</string>
	<key>GCM_SENDER_ID</key>
	<string>639017357545</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.riverpodPracticeApp</string>
	<key>PROJECT_ID</key>
	<string>riverpod-practice-app-41008</string>
	<key>STORAGE_BUCKET</key>
	<string>riverpod-practice-app-41008.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:639017357545:ios:2c2763a9562a4db8462078</string>
</dict>
</plist>